<div id="memory_chart_<%= benchmark.name.parameterize %>"></div>
<script>
  $(function () {
    $('#memory_chart_<%= benchmark.name.parameterize %>').highcharts({
      chart: {
        type: 'column'
      },
      title: {
        text: '<%= benchmark.name %> memory results'
      },
      xAxis: {
        type: 'category',
        title: {
          text: 'Versions'
        }
      },
      yAxis: {
//        type: 'logarithmic',
        title: {
          text: 'Memory (KB)'
        },
//        min: 0
      },
      plotOptions: {
        line: {
          dataLabels: {
            enabled:  true
          },
          enableMouseTracking: false
        }
      },
      tooltip: {
        pointFormat: '<b>{point.y:,.4f}</b> KB'
      },
      series: [
        <% results.keys.sort.reverse.each do |ruby_version| %>
        <% compilers = results[ruby_version] %>
        {
          name: '<%= ruby_version %>',
          showInLegend: true,
          data: [

            <% compilers.keys.sort.each do |compiler| %>
            <% data = compilers[compiler] %>
            {
              name: '<%= compiler %>',
              y: <%= data[:memory_average] %>,
              color: Highcharts.getOptions().colors[<%= Result::COMPILERS.index(compiler.split(' ')[0]) %>]
            },
            <% end %>
          ],
        },
        <% end %>
      ],
    });
  });
</script>