<%= content_for :title do %>
  RubyBench - Multiple MRI benchmarks
<% end %>

<%= render partial: 'navigation' %>

<%= form_tag select_compilers_path, method: :get do %>
  <% @grouped_benchmarks.each do |group, benchmarks| %>
    <div class="row">
      <div class="col-xs-12">
        <h2><%= group.capitalize %></h2>
        <% benchmarks.each do |benchmark| %>
          <%= label_tag '', class: 'custom_label' do %>
            <%= check_box_tag 'b[]', benchmark.id, (@selected.include?(benchmark.id.to_s)) %> <%= benchmark.name %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
  <br>
  <div class="row">
    <div class="col-xs-12">
      <%= select_tag(:ruby, options_from_collection_for_select(@available_rubies, :name, :display_name, @shown_ruby),
                     allow_blank: false, class: 'form-control from-inline', data: { section: 'compilers' }) %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12">
      <%= submit_tag 'Submit', class: 'btn btn-success col-xs-12' %>
    </div>
  </div>
<% end %>
<hr>

<% @benchmarks.each do |benchmark, results| %>
  <%= render partial: 'compilers/benchmark',
             locals: { benchmark: benchmark, results: results, source_hidden: true, title_hidden: false,
                       runs_path: runs_compiler_path(benchmark, ruby: @shown_ruby), section_bench_path: compiler_path(benchmark, ruby: @shown_ruby) } %>
<% end %>

<%= javascript_tag 'new window.source_toggle()' %>