<%= content_for :keywords do %><%= @benchmark.name %><% end %>
<%= content_for :title do %>
  Compiler MRI Benchmark - <%= @benchmark.name.capitalize %>
<% end %>

<%= render partial: 'shared/benchmarks_navigation',
           locals:
               {
                   single: compiler_path(RubyBenchmark.first, ruby: @shown_ruby),
                   multiple: select_compilers_path(ruby: @shown_ruby)
               } %>


<div class="bench-select">
  <div class="container">
    <div class="row">
      <div class="col-xs-7 text-center">
        <h2 class="ruby">Select benchmark</h2>
      </div>
      <div class="col-xs-5 text-center">
        <h2 class="ruby">Select Ruby version</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-7">
        <%= select_tag(:ruby_benchmark, grouped_options_for_select(@grouped_benchmarks, @benchmark.name),
                       allow_blank: false, class: 'form-control', data: { section: 'compilers' }) %>
      </div>
      <div class="col-xs-5">
        <%= select_tag(:ruby_version, options_from_collection_for_select(@available_rubies, :name, :display_name, @shown_ruby),
                       allow_blank: false, class: 'form-control', data: { section: 'compilers' }) %>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'compilers/benchmark',
           locals: {
               benchmark: @benchmark,
               results: @results,
               source_hidden: false,
               title_hidden: false,
               runs_path: runs_compiler_path(@benchmark), section_bench_path: compiler_path(@benchmark)
           } %>

<%= javascript_tag 'new window.benchmark_selector()' %>
<%= javascript_tag 'new window.source_toggle()' %>