<%= content_for :keywords do %><%= @benchmark.name %><% end %>
<%= content_for :title do %>
  Ruby Implementations Benchmark - <%= @benchmark.name.capitalize %>
<% end %>

<div class="row">
  <div class="col-xs-12 text-center">
    <h2 class="ruby">Select benchmark</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-9">
    <%= select_tag(:ruby_benchmark, grouped_options_for_select(@grouped_benchmarks, @benchmark.name),
                   allow_blank: false, class: 'form-control', data: { section: 'implementations' }) %>
  </div>
  <div class="col-xs-3">
    <%= link_to 'Select multiple', select_implementations_path, class: 'btn btn-primary col-xs-12' %>
  </div>
</div>
<br>
<hr>

<%= render partial: 'benchmarks/benchmark',
           locals: { benchmark: @benchmark, results: @results, source_hidden: false, title_hidden: true,
                     runs_path: runs_implementation_path(@benchmark), section_bench_path: implementation_path(@benchmark) } %>

<%= javascript_tag 'new window.benchmark_selector()' %>
<%= javascript_tag 'new window.source_toggle()' %>