<div id="memory_total_chart_<%= benchmark.name.parameterize %>"></div>
<script>
  $(function () {
    $('#memory_total_chart_<%= benchmark.name.parameterize %>').highcharts({
      chart: {
        type: 'column'
      },
      title: {
        text: '<%= benchmark.name %> total memory results'
      },
      xAxis: {
        type: 'category',
        title: {
          text: 'Versions'
        }
      },
      yAxis: {
//        type: 'logarithmic',
        title: {
          text: 'Memory (MB)'
        },
//        min: 0
      },
      plotOptions: {
        line: {
          dataLabels: {
            enabled:  true
          },
          enableMouseTracking: false
        }
      },
      tooltip: {
        pointFormat: '<b>{point.y:,.4f}</b> MB'
      },
      series: [
        {
          name: 'Ruby Implementations',
          showInLegend: false,
          data: [
            <% results.keys.sort.each do |ruby_version| %>
            <% data = results[ruby_version] %>
            {
              name: '<%= ruby_version %>',
              y: <%= data[:memory_total_average] %>,
              color: Highcharts.getOptions().colors[<%= RubyVersion::IMPLEMENTATIONS.values.index data[:implementation] %>]
            },
            <% end %>
          ],
        }
      ],
    });
  });
</script>