<div id="memory_total_chart_<%= benchmark.name.parameterize %>"></div>
<script>
  $(function () {
    $('#memory_total_chart_<%= benchmark.name.parameterize %>').highcharts({
      chart: {
        type: 'column',
        zoomType: 'x'
      },
      title: {
        text: '<%= benchmark.name %> total memory results'
      },
      xAxis: {
        type: 'category',
        title: {
          text: 'Versions'
        }
      },
      yAxis: {
//        type: 'logarithmic',
        title: {
          text: 'Memory (MB)'
        },
//        min: 0
      },
      plotOptions: {
        column: {
          animation: false,
          dataLabels: {
            enabled: true,
            formatter: function () {
              if (this.y == this.series.dataMax) {
                return "<span style=\"color:#d9443e; z-index: 0\">Base</span><br>"
              } else {
                var label = "";

                if (this.y == this.series.dataMin) {
                  label = "<span style=\"color:green\">Best</span><br>";
                }

                var percentage = ((this.y - this.series.dataMax) / this.series.dataMax * 100).toFixed(2);
                return label + '<span style="color:black">' + percentage + '% </span>';
              }
            },
            zIndex: 0
          }
        }
      },
      tooltip: {
        pointFormat: '<b>{point.y:,.4f}</b> MB'
      },
      series: [
        {
          name: 'Ruby Implementations',
          showInLegend: false,
          data: [
            <% results.keys.sort.each do |ruby_version| %>
            <% data = results[ruby_version] %>
            {
              name: '<%= ruby_version %>',
              y: <%= data[:memory_total_average] %>,
              color: Highcharts.getOptions().colors[<%= RubyVersion::IMPLEMENTATIONS.values.index data[:implementation] %>]
            },
            <% end %>
          ],
        }
      ],
      exporting: {
        buttons: {
          customButton: {
            x: -42,
            onclick: function () {
              toggle_full_screen('#memory_total_chart_<%= benchmark.name.parameterize %>');
            },
            text: 'Fullscreen'
          }
        }
      },
    });
  });
</script>