<div id="memory_total_chart_<%= benchmark.name.parameterize %>"></div>
<script>
  $(function () {
    $('#memory_total_chart_<%= benchmark.name.parameterize %>').highcharts({
      chart: {
        type: 'column',
        zoomType: 'x'
      },
      title: {
        text: '<%= benchmark.name %> total memory results'
      },
      xAxis: {
        type: 'category',
        title: {
          text: 'Versions'
        }
      },
      yAxis: {
//        type: 'logarithmic',
        title: {
          text: 'Memory (MB)'
        },
        plotLines: [{
          color: '#d9443e',
          dashStyle: 'ShortDash',
          width: 1,
          value: <%= get_average_for_benchmark(results, :memory_total_average) %>,
          zIndex: 5,
          label : {
            text : 'Average',
          }}
        ],
//        min: 0
      },
      plotOptions: {
        column: {
          animation: false,
          dataLabels: {
            enabled: true,
            formatter: function () {
              var values = this.series.data.map( function(item) { return item.y });
              var count = values.length;
              var sum = values.reduce(function(a, b) { return a + b });
              var average = sum / count;
              var percentage = ((this.y - average) / average * 100).toFixed(2);
              if(percentage > 0) {
                return "<span style=\"color:#d9443e; z-index: 0\">+" + percentage + "%</span>"
              } else {
                return "<span style=\"color:green; z-index: 0\">" + percentage + "%</span>"
              }
            },
            zIndex: 0
          }
        }
      },
      tooltip: {
        pointFormat: '<b>{point.y:,.4f}</b> MB'
      },
      series: [
        {
          name: 'Ruby Implementations',
          showInLegend: false,
          data: [
            <% results.keys.sort.each do |ruby_version| %>
            <% data = results[ruby_version] %>
            {
              name: '<%= ruby_version %>',
              y: <%= data[:memory_total_average] %>,
              color: Highcharts.getOptions().colors[<%= RubyVersion::IMPLEMENTATIONS.values.index data[:implementation] %>]
            },
            <% end %>
          ],
        }
      ],
      exporting: {
        buttons: {
          customButton: {
            x: -42,
            onclick: function () {
              toggle_full_screen('#memory_total_chart_<%= benchmark.name.parameterize %>');
            },
            text: 'Fullscreen'
          }
        }
      },
    });
  });
</script>