<div id="memory_chart_<%= chart_name.parameterize %>"></div>
<script>
  $(function () {
    $('#memory_chart_<%= chart_name.parameterize %>').highcharts({
      chart: {
        type: 'column'
      },
      title: {
        text: '<%= chart_name %>'
      },
      xAxis: {
        type: 'category',
        title: {
          text: 'Versions'
        },
        labels: {
          rotation: -45
        }
      },
      yAxis: {
//        type: 'logarithmic',
        title: {
          text: 'Points'
        },
//        min: 0
      },
      plotOptions: {
        line: {
          dataLabels: {
            enabled:  true
          },
          enableMouseTracking: false
        }
      },
      tooltip: {
        pointFormat: '<b>{point.y:,.0f}</b> points'
      },
      series: [
        {
//          upColor: Highcharts.getOptions().colors[1],
//          color: Highcharts.getOptions().colors[2],
          name: '<%= chart_name %>',
          showInLegend: false,
          // Define the data points. All series have a dummy year
          // of 1970/71 in order to be compared on the same x axis. Note
          // that in JavaScript, months start at 0 for January, 1 for February etc.
          data: [
            <% results.sort_by {|_key, value| value}.each do |x,y| %>
            {
              name: '<%= x %>',
              y: <%= y %>,
              color: Highcharts.getOptions().colors[<%= x.include?('GCC 4.9') ? 1 : 0 %>]
            },
            <% end %>
          ]
        },
      ],
    });
  });
</script>