<%= content_for :title do %>
  RubyBench - Multiple benchmarks
<% end %>

<%= form_tag select_benchmarks_path, method: :get do %>
  <% @grouped_benchmarks.each do |group, benchmarks| %>
    <div class="row">
      <div class="col-xs-12">
        <h2><%= group.capitalize %></h2>
        <% benchmarks.each do |benchmark| %>
          <%= label_tag '', class: 'custom_label' do %>
            <%= check_box_tag 'b[]', benchmark.id, (@selected.include?(benchmark.id.to_s)) %> <%= benchmark.name %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
  <br>
  <div class="row">
    <div class="col-xs-12">
      <%= submit_tag 'Submit', class: 'btn btn-success col-xs-12' %>
    </div>
  </div>
<% end %>
<hr>

<% @benchmarks.each do |benchmark, results| %>
  <%= render partial: 'benchmark', locals: { benchmark: benchmark, results: results, source_hidden: true } %>
<% end %>

<div class="modal fade" id="runs_modal" tabindex="-1" role="dialog" aria-labelledby="runs_modal_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="min-height: 400px;">
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <div id="runs_chart"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_tag 'new window.source_toggle()' %>