<%= content_for :keywords do %><%= @benchmark.name %><% end %>
<%= content_for :title do %>
  Benchmark - <%= @benchmark.name.capitalize %>
<% end %>

<div class="row">
  <div class="col-xs-12 text-center">
    <h2 class="ruby">Select benchmark</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-9">
    <%= select_tag(:ruby_benchmark, grouped_options_for_select(@grouped_benchmarks, @benchmark.name), allow_blank: false, class: 'form-control') %>
  </div>
  <div class="col-xs-3">
    <%= link_to 'Select multiple', select_benchmarks_path, class: 'btn btn-primary col-xs-12' %>
  </div>
</div>
<br>
<hr>

<div class="modal fade" id="runs_modal" tabindex="-1" role="dialog" aria-labelledby="runs_modal_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="min-height: 400px;">
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <div id="runs_chart"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'benchmark', locals: { benchmark: @benchmark, results: @results, source_hidden: false, title_hidden: true } %>

<%= javascript_tag 'new window.benchmark_selector()' %>
<%= javascript_tag 'new window.source_toggle()' %>