<li class="<%= active_page('home') %>"><%= link_to 'Home', root_path %></li>
<li class="<%= active_page('mri') %>"><%= link_to 'MRI Benchmarks', mri_index_path %></li>
<li class="<%= active_page('compilers') %>"><%= link_to 'Compiler Benchmarks', compilers_path %></li>
<li class="<%= active_page('implementations') %>"><%= link_to 'Implementations Benchmarks', implementations_path %></li>
<!--<li class="<%= active_page('about', 'benchmarking') %>"><%= link_to 'Machine', mri_index_path %></li>-->
<!--<li class="<%= active_page('about', 'benchmarking') %>"><%= link_to 'Benchmark Suite', mri_index_path %></li>-->
<li><%= link_to 'API Doc', '/apidoc', target: :blank %></li>