<li class="<%= active_page('home') %>"><%= link_to 'Home', root_path %></li>
<li class="<%= active_page('benchmarks') %>"><%= link_to 'MRI Benchmarks', benchmarks_path %></li>
<!--<li class="<%= active_page('about', 'benchmarking') %>"><%= link_to 'Machine', benchmarks_path %></li>-->
<!--<li class="<%= active_page('about', 'benchmarking') %>"><%= link_to 'Benchmark Suite', benchmarks_path %></li>-->
<li><%= link_to 'API Doc', '/apidoc', target: :blank %></li>